*
{
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #dcdcdc;
    
}

.btn
{
    margin-right: 15px;
}

#filtro
{
    background-color: #b1b1b1;
    padding: 30px 0px 0px 30px;
}
#imageHolder
{
    padding: 30px 0px 0px 30px;
    background-color: #dcdcdc;
    height: 100vh;
}

.pendiente
{
    background-color: red;
    outline: black;
    outline-width: 2px;
}

footer {
    background-color: darkslategray;
    height: 5vh;
    color: white;
    padding: 5px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}